<template>
    <div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Old</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="rider in riders" :key="car.id">
                <td>{{ rider.name }}</td>
                <td>{{ rider.old }}</td>
                <td>{{ rider.phone }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
export default {

    props: {
        riders: Array,
    },

}
</script>
