<template>
    <div>
        <table>
            <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="transport in transports" :key="car.id">
                <td>{{ transport.gos_number }}</td>
                <td>{{ transport.year_of_issue }}</td>
                <td>{{ transport.type_id }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
export default {

    props: {
        transports: Array,
    },

}
</script>
